{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">



    <div class="card col-10 offset-1 mb-4 p-4 bg-secondary">
      <h6 class="text-light card-title mb-3">{{photo.filename}}</h6>
      <img src="{{base_url}}{{photo.filename}}" alt="">
      <a href="/photos/{{photo.filename}}/edit" class="btn btn-primary mt-3">Edit Photo</a>
    </div>

    <div class="card col-10 offset-1 mb-4 p-4 bg-secondary">
      <h6 class="text-light card-title mb-3">Metadata</h6>
      <ul>
        {% for key in metadata %}
        <li class="text-light">
          {{key}}: {{metadata[key] or "Unknown"}}
        </li>
        {% endfor %}
      </ul>
        {% if photo.gps %}
          <h6 class="text-light">Location Taken: {{photo.gps}}</h6>
          <img class="image-fluid" src="/get_map?location={{photo.gps}}" alt="">
        {% endif %}
    </div>



  </div>
</div>

{% endblock %}