{% extends 'base.html' %}

{% block content %}

<div class="container mt-4" id="page-container" data-imageFilename="{{photo.filename}}"
  data-imageUrl="{{base_url}}{{photo.filename}}">

  <!-- Button and Select Container -->
  <div id="button-container" class="row bg-secondary px-3 pb-3 rounded-top">
    <div class="col-9 mt-3">
      <!-- Dropdown for selecting image filter -->
      <select name="image-filter" id="image-filter" class="form-select">
        <option value="INVERT">Invert</option>
        <option value="GRAY">Grayscale</option>
        <option value="THRESHOLD">Black and white</option>
        <option value="BLUR">Blur</option>
        <option value="SEPIA">Sepia</option>
        <option value="SOBEL">Edge Finder</option>
        <option value="PIXELATE">Pixelate</option>
      </select>

    </div>

    <div class="col-auto mt-3">
      <!-- Button to apply selected filter -->
      <button id="button-filter" class="btn btn-primary">Apply Filter</button>
    </div>

    <div id="stamp-mode" class="col-12 col-md-8 mt-3">
      <!-- Dropdown for selecting image filter -->
      <select name="stamp-selector" id="stamp-selector" class="form-select">
        <option value="stampDave">Stamp Dave</option>
        <option value="stampCoop">Stamp Coop</option>
      </select>
    </div>

    <div id="draw-mode" class="col-12 col-md-8 mt-3 d-flex gap-1  d-none">
      <!-- Dropdown for selecting image filter -->
      <select name="color-selector" id="color-selector" class="form-select">
        <option value="black">Black</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="cyan">Cyan</option>
        <option value="magenta">Magenta</option>
        <option value="orange">Orange</option>
        <option value="purple">Purple</option>
        <option value="brown">Brown</option>
        <option value="pink">Pink</option>
        <option value="lime">Lime</option>
        <option value="white">White</option>
        <option value="gray">Gray</option>
        <option value="navy">Navy</option>
      </select>

      <select name="size-selector" id="size-selector" class="form-select">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
    </div>

    <div class="col-auto mt-3">
      <button id="drawButton" class="btn btn-primary">Switch to Draw Mode</button>
    </div>

  </div>

  <!-- Slider controls for image dimensions -->
  <div class="row rounded-bottom d-flex justify-content-center align-items-center pt-1 pb-2 bg-secondary">
    <div class="col-md-4 text-center text-light">
      Width: <input type="range" id="widthSlider" class="form-range" min="1" max="100" value="100">
    </div>
    <div class="col-md-4 text-center text-light">
      Height: <input type="range" id="heightSlider" class="form-range" min="1" max="100" value="100">
    </div>
    <div class="my-2">
      <button id="sort-button" class="btn btn-warning col-12">Start sorting</button>
    </div>
  </div>

  <!-- Container for edited image -->
  <div id="edit-container" class="mt-4 d-flex justify-content-center align-items-center rounded">
    <!-- Dynamic content (image) will be displayed here -->
  </div>

  <div class="mt-4 row">
    <button id="revert-button" class="btn btn-danger col-4 offset-1 mb-3">Revert Image</button>
    <button id="saveButton" class="btn btn-success col-4 offset-2 mb-3">Save Image</button>
  </div>
</div>


<script src="/static/edit_photo.js"></script>

{% endblock %}