{% extends 'base.html' %}

{% block content %}

<div id="page-container" data-imageFilename="{{photo.filename}}" data-imageUrl="{{base_url}}{{photo.filename}}">
  <div id="button-container" class="bg-secondary">
    <button class="mb-1" onclick="downloadImage()">Download Image</button>
      <!-- <button id="grayscaleButton">Apply Grayscale</button> -->
        <select name="image-filter" id="image-filter">
          <option value="INVERT">Invert</option>
          <option value="GRAY">Grayscale</option>
          <option value="THRESHOLD">Black and white</option>
          <option value="BLUR">Blur</option>
          <option value="SEPIA">Sepia</option>
        </select>
        <button id="button-filter">Apply filter</button>
      <br />
      Width: <input type="range" id="widthSlider" min="1" max="100" value="100">
      Height: <input type="range" id="heightSlider" min="1" max="100" value="100">
      <button id="saveButton">Save Image</button>
  </div>

  <div id="edit-container" class="mt-4 bg-secondary">


  </div>

</div>


<script src="/static/edit_photo.js"></script>

{% endblock %}